<!-- RENDERING A CLICKABLE TOOL WITH NAME & USER THAT POSTED FOR CATEGORY BY ID PAGE -->
<section>
    <a href="/tools/{{id}}">
      <div class="row tool-and-owner indigo-text text-darken-2">
        <p class="col s12 l7 tool-name">{{name}}</p>
        <p class="col s12 l5 tool-owner">posted by {{user.name}}</p>
      </div>
    </a>
</section>
