<!-- RENDERING A TOOL WITH NAME & USER THAT POSTED & CATEGORY ICON FOR TOOLBOX PAGE, USER BY ID PAGE, AND NEIGHBORHOOD PAGE -->
<section>
    <a href="/tools/{{id}}">
      <div class="row tool-and-owner indigo-text text-darken-2">
        <p class="col s12 tool-name"><span style="font-size: 1em; color: #1a237e;">
          <i class="{{category.class}}"></i>
        </span>{{name}}</p>
      </div>
    </a>
</section>
